{# Accueil administration #}

{% extends "CR32QuestionnaireBundle::layout_admin.html.twig" %}

{% block body %}
	<h1> Bienvenue sur l'espace d'administration</h1>

	<h3> Description des sections </h3>
	<p> <a href="{{ path('cr32_administration_danses') }}"> Danses : </a> liste des résultats du vote </p>
	<p> <a href="{{ path('cr32_administration_contacts') }}">Contacts : </a> personnes inscrite au tirage au sort </p>
	<p> <a href="{{ path('fos_user_profile_edit')}}">Profil : </a> informations concernant votre profil </p> 

{% endblock %}