{# page cloture vote #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>
	<p class="text-center"> L'espace de vote est cloturé !  <br>
		Nous vous attendons Samedi 13 octobre 20h30 à saint-clar. </p>

		<img src="{{ asset('bundles/cr32questionnaire/images/2018-10-13-CR32.jpg') }}" class="img-fluid" alt="playlist du bal Country Rebell's 32">

{% endblock %}