{# page d'abonnement #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>

	{% for message in app.session.flashbag.get('noUnique') %}
	    <p class="alert alert-danger">{{ message }}</p>
	{% endfor %}	

	{% for message in app.session.flashbag.get('add') %}
	    <p class="alert alert-success">{{ message }}</p>
	{% endfor %}

	<p class="text-left"> Nous vous attendons à notre bal du 13 Octobre ! <br>
		Pour allez sur le site Country Rebell's 32, suivez ce lien : <a href="http://cr32.artdevelopp.fr"> www.cr32.artdevelopp.fr </a></p>

{% endblock %}