{# page d'abonnement #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>

	{% for message in app.session.flashbag.get('noUnique') %}
	    <p class="alert alert-danger">{{ message }}</p>
	{% endfor %}	

	{% for message in app.session.flashbag.get('add') %}
	    <p class="alert alert-success">{{ message }}</p>
	{% endfor %}

	<p class="text-left"> Nous vous attendons à notre bal du 13 Octobre ! <br>
		Pour allez sur le site Country Rebell's 32, suivez ce lien : <a href="http://cr32.artdevelopp.fr"> www.cr32.artdevelopp.fr </a></p>

	<div class="text-center">
		<p> <b> Notre adresse : </b> <br> 
			Country Rebell's 32 <br> 
			22, rue du plaper <br> 
			32380, Saint-clar </p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2875.2483196029466!2d0.7651888159363001!3d43.89212347911376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12abda6f35a17a7d%3A0xa1f3992022953edb!2sCountry+Rebell&#39;s+32!5e0!3m2!1sfr!2sfr!4v1537454791278" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> </div>

{% endblock %}