{# page d'acceuil #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>
	<p class="text-center"> Veuillez donner le nom de deux danses pour chaque niveau : </p>	

	<h3> Formulaire ici ! </h3>
{% endblock %}