{# page d'abonnement #}

{% extends "::layout.html.twig" %}

{% block body %}
	<h1 class="text-center"> Danses à la demande </h1>
	<p class="text-left"> Merci pour votre vote ! <br>
	Pour être sur de recevoir la playlist, rensigner votre email ci-dessous: </p>	

	<h3> Formulaire ici ! </h3>
{% endblock %}